:root {
  --dark-color: #2f3542;
  --dark-color-dark: #2c303a;
  --cloud-color: #f1f2f6;
  --cloud-color-dark: #cecfd1;
  --grey-color: #353941;
  --grey-color-light: #767a80;
  --blue-color: #1e90ff;
  --orange-color: #ffa502;
  --orange-color-light: #ffc14d;
  --content-max-width: 1000px;
  --main-tabs-height: 40px;
  --main-header-height: 60px;
  --secondary-tabs-height: 40px;
  --bottom-nav-height: 60px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */
.main-header {
  background-color: var(--dark-color);
  height: var(--main-header-height);
  box-sizing: border-box;
  z-index: 1;
  color: white;
  position: relative;
  transition: all 250ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky {
  position: sticky;
  top: 0;
}

.header-logo {
  display: flex;
  padding: 15px;
  height: 100%;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s;
}

.header-logo:hover {
  background-color: var(--dark-color-dark);
}

.header-avatar {
  width: 40px;
  height: 40px;
  background-color: var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.header-avatar:hover {
  background-color: var(--orange-color-light);
}

.avatar {
  font-size: large;
}

/* Main Tabs */
.main-tabs {
  height: var(--main-tabs-height);
  text-transform: none;
  display: flex;
  align-items: center;
  background-color: var(--grey-color);
  flex-grow: 1;
  transition: all 250ms ease-in-out;
  box-shadow: 0px -5px 24px 7px rgba(46, 46, 46, 0.83);
  -webkit-box-shadow: 0px -5px 24px 7px rgba(46, 46, 46, 0.83);
  -moz-box-shadow: 0px -5px 24px 7px rgba(46, 46, 46, 0.83);
  overflow-x: scroll;
}

.main-tabs .link {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  font-weight: 500;
}

.main-tabs .link-selected,
.link:hover {
  color: var(--blue-color);
}

.tab-sticky {
  position: sticky;
  top: 60px;
}

.main-tabs .link-container {
  padding: 0 1rem;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.8rem;
}

@media screen and (max-width: 550px) {
  .main-tabs .link-container {
    width: 100%;
  }
}

/* Main Content */
.main-content {
  background-color: var(--cloud-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

/* Bottom Navigation */
.MuiBottomNavigationAction-root.Mui-selected {
  color: var(--blue-color) !important;
}

.MuiBottomNavigationAction-root {
  color: white !important;
  height: var(--bottom-nav-height);
}

/* Secondary tabs */
.secondary-tabs {
  height: var(--secondary-tabs-height);
  max-width: var(--content-max-width);
  width: 100%;
  margin: 5px 0px;
  display: flex;
  align-items: center;
}

.secondary-tabs .tab-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
}

.secondary-tab {
  margin-right: 10px;
  text-align: center;
  color: white;
  background: var(--grey-color);
  padding: 5px 20px;
  border-radius: 15px;
  opacity: 0.7;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.secondary-tab.tab-selected {
  opacity: 1;
  color: var(--orange-color);
}

.secondary-tab:hover {
  opacity: 1;
}

@media screen and (max-width: 1300px) {
  .main-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Infinite Scrolling Post List */
.post-list {
  height: calc(
    100vh - var(--main-header-height) - var(--main-tabs-height) -
      var(--bottom-nav-height) - var(--secondary-tabs-height) - 20px
  );
  background-color: white;
  max-width: var(--content-max-width);
  width: 100%;
  overflow-y: scroll;
}

/* Article */
.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 15px 0px 15px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.article-container:hover {
  background: var(--cloud-color);
}

.article-status {
  display: flex;
  padding-bottom: 15px;
}

.article-status-item {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0px 8px;
  border-right: 1px solid var(--cloud-color-dark);
  color: var(--grey-color-light);
}

.article-status-item.dark {
  color: var(--grey-color);
  font-weight: 500;
}

.article-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 15px;
}

.article-content {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-header {
  font-size: 1rem;
  max-width: min(calc(100vw - 20px - 30px - 120px - 10px), 830px);
  font-weight: 800;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.article-header.no-image {
  max-width: calc(100vw - 20px - 30px - 10px);
}

.article-brief {
  font-size: 0.87rem;
  max-width: min(calc(100vw - 20px - 30px - 120px - 10px), 830px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  color: var(--grey-color-light);
}

.article-brief.no-image {
  max-width: calc(100vw - 20px - 30px - 10px);
}

.article-footer {
  width: 200px;
}

.article-footer-container {
  display: flex;
  align-items: center;
}

.aticle-icon-text {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 0.8rem;
  transition: all 150ms ease-in-out;
}

.aticle-icon-text:hover {
  color: var(--blue-color);
}

.article-divider {
  border-bottom: 1px solid var(--cloud-color-dark);
}

.loading-block {
  height: 0.8rem;
  width: min(calc(100vw - 20px - 30px - 120px - 10px), 830px);
  background: linear-gradient(270deg, #eaecf0, var(--grey-color-light));
  background-size: 400% 400%;
  -webkit-animation: AnimationName 1.5s ease infinite;
  -moz-animation: AnimationName 1.5s ease infinite;
  -o-animation: AnimationName 1.5s ease infinite;
  animation: AnimationName 1.5s ease infinite;
  opacity: 0.8;
  border-radius: 5px;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 370px) {
  .article-image {
    display: none;
  }

  .article-header {
    max-width: calc(100vw - 20px - 30px - 10px);
  }

  .article-brief {
    max-width: calc(100vw - 20px - 30px - 10px);
  }

  .loading-block {
    width: calc(100vw - 20px - 30px - 10px);
  }
}

/* Article Content */
.article-detail-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cloud-color);
  min-height: 100vh;
  padding-top: 20px;
}

.article-detail-container {
  max-width: var(--content-max-width);
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.article-detail-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.article-detail-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.article-detail-username {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.article-detail-level {
  font-size: 10px;
  font-weight: 400px;
  color: white;
  background: lightseagreen;
  padding: 2px 6px;
  border-radius: 6px;
  margin-left: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.article-detail-info {
  min-height: 40px;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.article-detail-time-read {
  font-size: 14px;
  color: var(--grey-color-light);
}

.article-detail-time-read > span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.article-detail-subscribe {
  border: 2px solid lightskyblue;
  background: white;
  border-radius: 5px;
  color: lightskyblue;
  margin-left: 10px;
  width: 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.article-detail-subscribe:hover {
  background: lightskyblue;
  color: white;
}

.article-detail-content {
  overflow-x: hidden;
  border-bottom: 1px solid #767a80;
}

.markdown-body {
  width: calc(var(--content-max-width) - 40px);
  overflow-x: scroll;
}

@media screen and (max-width: 1000px) {
  .markdown-body {
    width: calc(100vw - 40px);
  }
}

/* Comments */
.comment-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--cloud-color);
}

.comment-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.comment-buttons > button {
  border: none;
  background: var(--blue-color);
  border-radius: 3px;
  padding: 5px;
  width: 4rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}

.comment-buttons > button:hover {
  background: rgb(64, 180, 248);
}

.comment-input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid var(--cloud-color-dark);
  border-radius: 5px;
  transition: all 0.2s;
  font-size: 0.9rem;
  box-sizing: border-box;
}
