:root {
  --dark-color: #2f3542;
  --dark-color-dark: #2c303a;
  --cloud-color: #f1f2f6;
  --grey-color: #414650;
  --blue-color: #1e90ff;
  --orange-color: #ffa502;
  --orange-color-light: #ffc14d;
  --content-max-width: 1000px;
  --main-tabs-height: 40px;
  --main-header-height: 60px;
  --secondary-tabs-height: 40px;
  --bottom-nav-height: 60px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */
.main-header {
  background-color: var(--dark-color);
  height: var(--main-header-height);
  box-sizing: border-box;
  z-index: 1;
  color: white;
  position: relative;
  transition: all 250ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky {
  position: sticky;
  top: 0;
}

.header-logo {
  display: flex;
  padding: 15px;
  height: 100%;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s;
}

.header-logo:hover {
  background-color: var(--dark-color-dark);
}

.header-avatar {
  width: 40px;
  height: 40px;
  background-color: var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.header-avatar:hover {
  background-color: var(--orange-color-light);
}

.avatar {
  font-size: large;
}

/* Main Tabs */
.main-tabs {
  height: var(--main-tabs-height);
  text-transform: none;
  display: flex;
  align-items: center;
  background-color: var(--grey-color);
  flex-grow: 1;
  transition: all 250ms ease-in-out;
  box-shadow: 0px -5px 24px 7px rgba(46, 46, 46, 0.83);
  -webkit-box-shadow: 0px -5px 24px 7px rgba(46, 46, 46, 0.83);
  -moz-box-shadow: 0px -5px 24px 7px rgba(46, 46, 46, 0.83);
}

.main-tabs .link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.main-tabs .link-selected,
.link:hover {
  color: var(--blue-color);
}

.tab-sticky {
  position: sticky;
  top: 60px;
}

.main-tabs .link-container {
  padding: 0 1.5rem;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 550px) {
  .main-tabs {
    justify-content: space-evenly;
  }
  .main-tabs .link-container {
    width: 100%;
  }
}

/* Main Content */
.main-content {
  background-color: var(--cloud-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

/* Bottom Navigation */
.MuiBottomNavigationAction-root.Mui-selected {
  color: var(--blue-color) !important;
}

.MuiBottomNavigationAction-root {
  color: white !important;
  height: var(--bottom-nav-height);
}

/* Secondary tabs */
.secondary-tabs {
  height: var(--secondary-tabs-height);
  background-color: white;
  max-width: var(--content-max-width);
  width: 100%;
  margin: 10px 10px;
}

@media screen and (max-width: 550px) {
  .main-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Infinite Scrolling Post List */
.post-list {
  height: calc(
    100vh - var(--main-header-height) - var(--main-tabs-height) -
      var(--bottom-nav-height) - var(--secondary-tabs-height) - 30px
  );
  background-color: white;
  max-width: var(--content-max-width);
  width: 100%;
}
